<div class="twelveth-page mt-40">
    <div class="text-right">
        <img class="logo-img" src="assets/images/Header.png" />
    </div>
  
    <div class="mt-20" style="background-color: #e6e7e8!important;">
        <div class="fifth-page-row">
          <div class="fifth-page-first-box" style="width: 2%;"><strong>Q</strong></div>
          <div class="fifth-page-first-box" style="width: 90%;"><strong>Why am I more attracted towards these activities?</strong> </div>
          <div class="clear-both"></div>
        </div>
        <div class="fifth-page-row">
          <div class="fifth-page-first-box" style="width: 2%;"><strong>A</strong></div>
          <div class="fifth-page-first-box" style="width: 90%; text-align: justify; ">
            Flow of Neurons is not equally distributed between the 10 lobes of the brain.
            The brain lobes with higher neural densities (where maximum amount of Neurons are flowing) will always 
            push you towards the activities in which they are capable, no matter how adverse circum¬stances 
            you may face. The combination of 3 to 4 lobes out of your 10 lobes with higher ridge counts will 
            trigger your liking for these capabilities to an extent that, it will force yourself into repeating 
            those activities again and again. These activities will give you more thrill & excite¬ment then the 
            activities coming from other lobes where the neural density is low.Thus,the excitement derived from 
            doing these acts leads you towards your Passion.
          </div>
          <div class="clear-both"></div>
        </div>
      </div>
      <div class="mt-20" style="background-color: #e6e7e8!important;">
        <div class="fifth-page-row">
          <div class="fifth-page-first-box" style="width: 2%;"><strong>Q</strong></div>
          <div class="fifth-page-first-box" style="width: 90%;"><strong>But then what is a Hobby? Is it different from Passion?</strong> </div>
          <div class="clear-both"></div>
        </div>
        <div class="fifth-page-row">
          <div class="fifth-page-first-box" style="width: 2%;"><strong>A</strong></div>
          <div class="fifth-page-first-box" style="width: 90%; text-align: justify; ">
            Yes, Hobbies are often confused with Passion. Hobbies are engagements with your 
            likings when you have nothing else to do. They are perused just as a stress buster or 
            relaxation whereas Passion is not just what you like, but your willingness to be in pain 
            to keep doing it. Passion is powerful and gripping. It is something for which you are willing 
            to sacrifice your time, money, energy & sleep. Something you can't stay away from even in 
            your bad days. Having said that, Hobby of one person can be Passion of the other & vice versa. 
            Also today a Hobby, can become a Passion tomorrow.
            <p style="margin-top: 5px;">There can be hundreds of different Hobbies. We have illustrated few of them on next page, 
                but before that explore your <strong> Orientation</strong>. Different people may have similar Hobbies, 
                but their approach may differ. Your <strong> Orientation</strong> will give you clarity on your approach 
                towards your Passion & Hobbies</p>
          </div>
          <div class="clear-both"></div>
        </div>
      </div>
      <div class="twelveth-page-bluebx mt-20">
       YOUR ORIENTATION
    </div>
    <div class="mt-20">
      <div class="twelveth-page-hrt50" >
        <div class="twelveth-page-sect25">
          <div class="">
            <div class="twelveth-page-wdth" >
            <div class="clear-both"></div>
            <div class="twelveth-page-sct12" >
            <div style="margin-top: -20px; font-size: 15px;">100%</div>
            <div class="twelveth-page-sct22" style=" font-size: 11px;" >HEART</div>
            </div>
            <div class="twelveth-page-sct11" >
            <div style="margin-top: -20px; font-size: 15px;">100%</div>
            <div class="twelveth-page-mar99" style=" font-size: 11px;">MIND</div>
            </div>
            <div class="clear-both"></div>
            <div class="twelveth-page-content12" style="">How you like to think - By HEART or By MIND?
               </div>
              </div>
               <div class="clear-both"></div>
          </div>
         </div> 
         <div class="twelveth-page-sect252" style="margin-left: 24px;">
          <div class="">
            <div class="twelveth-page-wdth" >
            <div class="clear-both"></div>
            <div class="twelveth-page-sct13" >
            <div style="margin-top: -20px; font-size: 15px;">100%</div>
            <div class="twelveth-page-sct22" style=" font-size: 11px;">INDOOR </div>
            </div>
            <div class="twelveth-page-sct14" >
            <div style="margin-top: -20px; font-size: 15px;">100%</div>
            <div class="twelveth-page-mar99" style=" font-size: 11px;">OUTDOOR</div>
            </div>
            <div class="clear-both"></div>
            <div class="twelveth-page-content121" style="">What do you prefer 
              to stay INDOOR 
              or OUTDOOR?
              
               </div>
              </div>
               <div class="clear-both"></div>
          </div>
         </div>      
      </div>
      <div class="twelveth-page-hrt50" >
        <div class="twelveth-page-sect25" style="margin-left: 8px;">
          <div class="">
            <div class="twelveth-page-wdth" >
            <div class="clear-both"></div>
            <div class="twelveth-page-sct3">
            <div style="margin-top: -20px; font-size: 15px;">100%</div>
            <div class="twelveth-page-sct22" style=" font-size: 11px;" >INDIVIDUAL </div>
            </div>
            <div class="twelveth-page-sct33" >
            <div style="margin-top: -20px; font-size: 15px;">100%</div>
            <div class="twelveth-page-mar99" style=" font-size: 11px;">TEAM</div>
            </div>
            <div class="clear-both"></div>
            <div class="twelveth-page-content12" style="margin-left: -109px;">What Delights you 
              to be INDIVIDUAL 
              or in a TEAM?
              
               </div>
              </div>
               <div class="clear-both"></div>
          </div>
         </div> 
         <div class="twelveth-page-sect252" style="margin-left: 20px;">
          <div class="">
            <div class="twelveth-page-wdth" >
            <div class="clear-both"></div>
            <div class="twelveth-page-sct44" >
            <div style="margin-top: -20px; font-size: 15px;">100%</div>
            <div class="twelveth-page-sct22" style=" font-size: 11px;">PHYSICALLY  </div>
            </div>
            <div class="twelveth-page-sct41" >
            <div style="margin-top: -20px; font-size: 15px;">100%</div>
            <div class="twelveth-page-mar99" style=" font-size: 11px;">MENTALLY</div>
            </div>
            <div class="clear-both"></div>
            <div class="twelveth-page-content121" style="">How do you indulge 
              PHYSICALLY 
              or MENTALLY?
              
              
               </div>
              </div>
               <div class="clear-both"></div>
          </div>
         </div>      
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="twelveth-page-orientationimg width-100" style="margin-top: 10px;">
      <img src="assets/images/Page 12/PAGE-12-Hobbies-intro.jpg" style="width: 100%;">
    </div>
  </div>
  