<div class="forty-five-page">
    <div class="text-right">
        <img class="logo-img" src="assets/images/Header.png" />
    </div>

    <div class="blue-header">
        YOUR HEALTH SYMPTOMS
    </div>

    <div class="mt-5 flex-row text-center text-bold">
        <div class="flex-05 gray-bg">SR No</div>
        <div class="flex-2 gray-bg">SYMPTOMS</div>
        <div class="flex-1 gray-bg"><div>Marginal</div><div class="font-size-12">Below<br/> 30%</div></div>
        <div class="flex-1 gray-bg"><div>Medical</div> <div class="font-size-12">Between<br/> 30 to 70%</div></div>
        <div class="flex-1 gray-bg"><div>Major</div> <div class="font-size-12">Above<br/> 70%</div></div>
        <div class="flex-5 gray-bg">PRECAUTION</div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 gray-bg text-center">1.</div>
        <div class="flex-2 gray-bg">INTOLERANCE <br/>TO GLUTEN </div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-5 gray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 darkgray-bg text-center">2.</div>
        <div class="flex-2 darkgray-bg">INTOLERANCE <br/>TO LACTOSE </div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-5 darkgray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 gray-bg text-center">3.</div>
        <div class="flex-2 gray-bg">PERIODONTITIS</div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-5 gray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 darkgray-bg text-center">4.</div>
        <div class="flex-2 darkgray-bg">DENTAL ISSUES</div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-5 darkgray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 gray-bg text-center">5.</div>
        <div class="flex-2 gray-bg">INDIGESTION</div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-5 gray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 darkgray-bg text-center">6.</div>
        <div class="flex-2 darkgray-bg">ACIDITY</div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-5 darkgray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 gray-bg text-center">7.</div>
        <div class="flex-2 gray-bg">MIGRAINE <br/>(HEAD ACHE)  </div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-5 gray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 darkgray-bg text-center">8.</div>
        <div class="flex-2 darkgray-bg">HYPERTENSION/ BLOOD PRESSURE </div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-5 darkgray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 gray-bg text-center">9.</div>
        <div class="flex-2 gray-bg">SUGAR / DIABETES  </div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-5 gray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 darkgray-bg text-center">10.</div>
        <div class="flex-2 darkgray-bg">OBESITY / CHOLESTROL </div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-5 darkgray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 gray-bg text-center">11.</div>
        <div class="flex-2 gray-bg">THYROID</div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-5 gray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 darkgray-bg text-center">12.</div>
        <div class="flex-2 darkgray-bg">TUMOR / CYST </div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-5 darkgray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 gray-bg text-center">13.</div>
        <div class="flex-2 gray-bg">ALZHEIMER</div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-5 gray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 darkgray-bg text-center">14.</div>
        <div class="flex-2 darkgray-bg">CIPO</div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-5 darkgray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 gray-bg text-center">15.</div>
        <div class="flex-2 gray-bg">BREAST CANCER <br/>(For Female)</div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-1 gray-bg"></div>
        <div class="flex-5 gray-bg"></div>
    </div>

    <div class="mt-5 flex-row text-bold">
        <div class="flex-05 darkgray-bg text-center">16.</div>
        <div class="flex-2 darkgray-bg">PCOD <br/> (For Female)</div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-1 darkgray-bg"></div>
        <div class="flex-5 darkgray-bg"></div>
    </div>

    <div class="mt-20 disc-section">
        DISCLAIMER
    </div>

    <div class="mt-10 font-size-12 text-justify" style="line-height: 16px;">
        The health symptoms and remedies provided in the report is derived from research conducted and submissions made by qualified clinical psychologists and doctors. You are advised to consult a qualified person, or person from medical background and get a complete checkup done before you start on any medication based on findings of this report. Any kind of medication or advice should be taken under the supervision and consultation of medical practitioners only. Any kind of reliance placed on the accuracy of the test results is at your own risk. 'Academy of Brainography' uses reasonable endeavors to ensure the accuracy of the information in the findings, however they do not guarantee the accuracy, legality and reliability of the test results. The data has been compiled from variety of sources and the related references that are openly available on the internet. 
    </div>

</div>
