.fifthteenth-page{font-family: Arial, Helvetica, sans-serif;}
.blue-header { padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #36b2c2;
    text-align: center; 
    font-size: 20px;
}
.fifthteenth-page-heading{    
    font-size: 15px;
    display: inline-block;
    margin: 0;
    font-weight: bolder;
}
.fifthteenth-page-IKIGAI{ 
    width: 6.6px;
    height: 6.5px;
    background: black;
    display: inline-block;
    border-radius: 10px;
}
.mt-1{margin-top: 1px;}
.fifthteenth-page-brf{text-align: center; font-size: 18px; font-weight: bold;}
.fifthteenth-page-aboutikifai{text-align: center; font-size: 22px; font-weight: bold; color: #00aac1;}
.fifthteenth-page-IKIGAIsec{float: left; padding: 4px 5px;}
.fifthteenth-page-row { padding: 5px; font-size: 14px;  }
.fifthteenth-page-rules{padding: 0px 5px;     font-size: 14px;}
.fifthteenth-page-first-box { float: left; padding: 0 5px; }
.fifthteenth-page-rules-sec{float: left; padding: 2px 5px; font-size: 13px; }
.fifteenth-page { font-family: Arial; font-size: 14px; text-align: justify;}
.fifth-page-row { padding:  10px; }
.fifth-page-first-box { float: left; padding: 0 10px; }
.eigth-middle-row-section { margin-left: 20%; line-height: 30px; }
.eight-page-left-sec { float: left; }
.eight-page-left-sec:nth-child(odd) { width: 45%; }
.eight-page-left-sec:nth-child(even) { width: 50%; }

.eighth-page p { margin: 10px 0; }
.left-dot-sec { width: 3%; float: left; }
.left-detail-sec { width: 96%; float: left; }