<div class="twenty-eight-page mt-20">
    <div class="">
        <div class="text-right">
            <img class="logo-img" src="assets/images/Header.png" />
        </div>
        <div class="mt-10">
            <div>
                <div class="text-center twenty-eight-page-Research">PRAGMATIST LIFE-PARTNER</div>
                <div class="twenty-eight-page-sec">
                    <div class="twenty-eight-page-Rsa-1">
                        PRAGMATISTS are paragons of family institutions. They are truly dedicated partners who believe
                        in mutually balanced relationships. They value tradition, security, stability & peaceful living.
                        PRAGMATISTS like to keep things simple and straightforward right from the dating period till
                        they finally decide to take the vows. They prefer a more traditional approach in their dating
                        phase leaving the adventures, surprises & fantasies for their partners, as PRAGMATISTS refrain
                        to take risks from unpredictable situations. Once they enter into a committed relationship they
                        devote themselves to fulfill the promises and make every effort to create a bonding that is
                        mutually satisfying and long-lasting. Although their physical relations are nothing out of
                        ordinary, they never hesitate to try something fancy if that helps to satisfy their partners.
                        The only aspect where PRAGMATISTS require counsel is to understand the emotional needs of their
                        partners. Since they are less receptive to feelings, they rely upon their judgments to analyze
                        the perspectives of their partners. However, PRAGMATIST's sense of responsibility and the
                        ability to view things from a rational perspective becomes instrumental to sort out the
                        differences, leading to mutual satisfaction in their personal relationships. It tends to be
                        easier if they are lucky to get a like-minded or understandble partner</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="text-center mt-20">
            <img  src="assets/images/Page 28/PAGE-28-Inner-personality-3.jpg" style="width: 80%;"> 
        </div>
        <div class="mt-20">
            <div>
                <div class="text-center twenty-eight-page-Research">PRAGMATIST PARENT</div>
                <div class="twenty-eight-page-sec">
                    <div class="twenty-eight-page-Rsa-1">
                        PRAGMATISTS are strict parents. Although they do everything right morally as a parent, their
                        expectations from their children may sometimes be overburdening on them. As a responsible
                        parent, PRAGMATISTS try to provide unrivalled environments, taking care of the food, clothing,
                        education & even the interests of their children, but simultaneously they are also watchful to
                        ensure that their kids progress in the right manner with optimal standards. They believe that
                        along with academics kids should also develop their sense of responsibility, rational thinking &
                        moral values. From the parameters of virtuous duties, PRAGMATISTS succeed in upholding their
                        loyalty & devotion towards parenting, but may completely miss out on the emotional well-being of
                        their children. They often neglect to exhibit physical display of love and affection when needed
                        the most. Being less receptive to emotional needs of children, they rely on their partners to
                        sort it out for them. If they are not lucky to have such sensitive partners it may result in
                        confining distances or a mental barrier in their relations with their children. However, as time
                        passes by, PRAGMATISTS manage to analyze the missing threads, discovering their flexibility and
                        combining it with their natural instincts of dedication to bridge the gap</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
       </div>
</div>