<div class="twenty-seven-page mt-20">
    <div class="">
        <div class="text-right">
            <img class="logo-img" src="assets/images/Header.png" />
        </div>
        <div class="mt-10">
            <div>
                <div class="text-center twenty-seven-page-Research">PRAGMATIST CHILD</div>
                <div class="twenty-seven-page-sec">
                    <div class="twenty-seven-page-Rsa-1">
                        PRAGMATISTS are honest & sincere right from their childhood. They stay
                        quiet & focused in classrooms, not because they are serious by nature, but
                        they have a vast aptitude for intelligence and they idealistically believe to
                        follow the guidelines. They play hard in playtime and adroitly unplug themselves
                        when concentrating on their studies. Pragmatists are a bit reserved in a sense,
                        but they can also contribute significantly to a team if they have complete
                        clarity of their roles beforehand. They are very good at numbers and
                        technical subjects. They are highly confident & observant kids. PRAGMATIST
                        kids never trade their self-respect for acquisitive gains. As a result, they
                        are often perceived to be stubborn and insensitive by their friends and
                        classmates. For the way they are, PRAGMATIST kids are never disregarded for
                        their loyalty and dependability. They never fail to get themselves counted
                        when reliability matters the most. They tend to be more mature for their
                        age.</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="mt-10">
            <div>
                <div class="text-center twenty-seven-page-Research">PRAGMATIST ADULT</div>
                <div class="twenty-seven-page-sec">
                    <div class="twenty-seven-page-Rsa-1">
                        PRAGMATISTS grow up to become highly disciplined, precise & realistic individuals.
                        They can be stereotyped as a typical "MR DEPENDABLE" or labeled with well-suited "A MAN OF
                        HIS WORDS", as they possess a deep sense of personal integrity. They are task obedient
                        who rely upon the standard operating manual. PRAGMATISTS believe in following the
                        protocols and always adhere to guidelines. Although they are patient & determined when
                        it comes to achieving their goals, but not before they are factually accreted with
                        detailed information, presented well in advance for them to undertake any such targets.
                        PRAGMATISTS have a no-nonsense attitude and they don't like to work on pre-suppositions.
                        The most admirable strength they possess is their perseverance. They simply do not
                        give up. They may lose their cool if their chosen methods are counted with illogical
                        accusations. Also, PRAGMATISTS cannot stand laziness and dishonesty. To avoid all
                        these circumstances they prefer to either work alone or under an authority to
                        command. PRAGMATISTS often lack diplomacy and have mediocre interpersonal skills.
                        Although they may not be in tune with the feelings of other people, for PRAGMATISTS,
                        their life centers on bringing order & structure to the environment in which they
                        breathe. They excel in time management, punctuality & consistently meeting their
                        deadlines.</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="mt-10">
            <div>
                <div class="text-center twenty-seven-page-Research">PRAGMATIST FRIEND</div>
                <div class="twenty-seven-page-sec">
                    <div class="twenty-seven-page-Rsa-1">
                        When it comes to their professional & personal life, PRAGMATISTS prefer
                        to stay private. Their highly disciplined lifestyle has very little room
                        for socializing. Attending parties & events are often ventured as formalities
                        so that they maintain their respect as contributing members of the society.
                        Reserved by nature, PRAGMATISTS end up with a very limited number of friends,
                        which can be counted on fingers. They utilize their time with friends to
                        relax and discuss current affairs, jobs, kids & other general topics.
                        Even though PRAGMATISTS are not very impulsive or impromptu in conversations,
                        they still enjoy the company of fun-loving & lively friends. Their
                        friends on the other hand value them being honest & trustworthy.
                        PRAGMATISTS generally don't like arguments, debates, or conflicts,
                        but they fully support their friends and stand by them in any such
                        confrontations, except for emotional issues. PRAGMATISTS are unable
                        to handle emotional baggage. It is the first thing they check & ensure
                        before selecting a person as a friend. For any other situations,
                        "MR DEPENDABLE" is always available 24x7.</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>

    </div>
</div>