.twenty-seven-page { font-family: Arial;   text-align: justify; }
.twenty-seven-page-Research{color: #00a9c1; font-weight: bold;  font-size: 20px; padding-bottom: 7px;}
.twenty-seven-page-sec{ background-color: #f2f2f2;}
.twenty-seven-page-Rsa-1{padding: 5px 10px; line-height: 22px;}