.twenty-seven-page { font-family: Arial; text-align: justify; font-size: 14px; margin-left: 40px; }
.twenty-seven-page-Research{color: #00a9c1; font-weight: bold;  font-size: 20px; padding-bottom: 7px;}
.twenty-seven-page-sec{ background-color: #e7e7e7;}
.twenty-seven-page-Rsa-1{padding: 10px; line-height: 22px;}