<div class="twentyth-page mt-20">
    <div class="">
      <div class="text-right">
        <img class="logo-img" src="assets/images/Header.png" />
      </div>
      <div class="text-center">
        <img style="width: 60%;" src="assets/images/Page 20/Age-22profession-1.jpg">
      </div>
     <div class="mt-5">
        <div class="seventh-page-gray-box" >
          <div class="seventh-page-fs20" style="width: 1%;"><strong>Q</strong></div>
          <div class="seventh-page-fs21" style="width: 93%;"><strong>How can I advance in my profession?</strong> </div>
  
          <div class="" style="position: relative; padding-bottom: 5px;">
            <div class="seventh-page-fs22" style="width: 1%;"><strong>A</strong></div>
            <div class="seventh-page-fs23" style="width: 90%;">
                If you keep these 3 parameters in mind you are bound to progress.<br>
                1)	Type of your Profession- YOUR PROFESSIONAL QUADRANT<br>
                2)	Type of Job role in that Profession- YOUR FORTE<br>
                3)	The degree of your Specified Quality- YOUR QUOTIENT
            </div>
          </div>
        </div>
      <div class="seventh-page-first-box">
          <img class="width-100" src="assets/images/Page 20/Age-22icon.jpg">
        </div>
        <div class="clear-both"></div>
      </div>
      <div class="mt-5">
       <div class="pad5"><span class="twentyth-page-PQ">1) YOUR PROFESSIONAL QUADRANTS</span>
        <div class="pad5 pad-top">Let's first understand the Professional Quadrants & how do you rate in each section. 
        The ultimate reason for being into a profession is to earn your livelihood. 
        Professions are governed by either a <span style="text-decoration: underline;">'Set of Rules' or a 'Process' or a 'System',</span> 
        where some people like to invent them and others like to either follow them or use them 
        to their advantage. All the roles are interdependent on each other. Let's identify what 
        suits you better.</div>
        </div>
       <div class="clear-both"></div>
      </div>
      <div class="mt-5">
          <div class="bx-row">
              <div class="twenty-page-sec">
                  <div class="employee-sec-width25">
                      <div class="employee-num">50.00%</div>
                      <span class="emply-bar"></span>
                      <div class="emply-border"></div>
                      <div class="employee-title">Employee</div>
                      <div class="clear-both"></div>
                  </div>
                  <div class="employee-sec-width25">
                    <div class="employee-num">50.00%</div>
                    <span class="emply-bar" style="background-color: #87cac5;"></span>
                    <div class="emply-border"></div>
                    <div class="employee-title">Self Employeed</div>
                    <div class="clear-both"></div>
                </div>
                <div class="employee-sec-width25">
                    <div class="employee-num">50.00%</div>
                    <span class="emply-bar" style="background-color: #62bff0;"></span>
                    <div class="emply-border"></div>
                    <div class="employee-title">Investor</div>
                    <div class="clear-both"></div>
                </div>
                <div class="employee-sec-width25">
                    <div class="employee-num">50.00%</div>
                    <span class="emply-bar" style="background-color: #a097c5;"></span>
                    <div class="emply-border"></div>
                    <div class="employee-title">Business Owner</div>
                    <div class="clear-both"></div>
                </div>
              </div>
          </div>
      </div>
      <div class="mt-10">
        <div class="seventh-page-firstbx25 width-100" >
          <div class="padd5" >
            <div class="twentyh-page-empl">
              <div class="seventh-page-igcse">
                <span style=" font-weight: bold;font-size: 20px;  text-align: center;"> EMPLOYEE</span>
                <div class="txt-lft"> 
                  <ul class="mr-5">
                    <li class="padding5">An Employee prefers to accomplish a task or manage a 
                     program which is pre-decided by <span style="text-decoration: underline;"> of rules, 
                      process or a system </span>designed by their Employers.
                    </li>
                    <li class="padding5">Dynamic performer once the guidelines & targets are understood.
                     </li>
                     <li class="padding5">Earning are mostly by remunerations, wages, 
                       compensations, incentives or sometimes on fixed contracts.
                     </li>
                  </ul>
                </div>
                <div class="clear-both"></div>
              </div>
              <div class="seventh-page-igcse" style="border-right: none;">
                <span style=" font-weight: bold;font-size: 20px;  text-align: center;"> EMPLOYEE</span>
                <div class="txt-lft"> 
                  <ul class="mr-5">
                    <li class="padding5">An Employee prefers to accomplish a task or manage a 
                     program which is pre-decided by <span style="text-decoration: underline;"> of rules, 
                      process or a system </span>designed by their Employers.
                    </li>
                    <li class="padding5">Dynamic performer once the guidelines & targets are understood.
                     </li>
                     <li class="padding5">Earning are mostly by remunerations, wages, 
                       compensations, incentives or sometimes on fixed contracts.
                     </li>
                  </ul>
                </div>
              </div>
              <div class="clear-both"></div>
            </div>
           </div> 
           </div>
      <div class="clear-both"></div>
      </div>
  
      
      
      
    
    </div>
  </div>