.twentyth-page { font-family: Arial;  font-size: 14px;  text-align: justify; margin-left: 40px; }
.pad5{padding: 5px;}
.pad-top{padding-top: 0px;}
.twentyth-page-PQ{ color: #00abc0; font-size: 20px; font-weight: 800;}
.twenty-page-sec{background-color: #ffffff; border: 1px solid #c1c1c0; border-radius: 10px; padding: 5px;}
.mt-5{margin-top: 5px;}
.mt-20 { margin-top: 20px; }
.mt-18{ margin-top: 18px; }
.mt-16{ margin-top: 16px; }
.mt-22{ margin-top: 22px; }
.paddtop23{ padding-top: 23px;}
.txt-lft{text-align: left;}
.mr-5{margin: 5px;}
.padding5{padding: 5px 0px;}
.emply-bar{display: inline-block; height: 85px; width: 27px; background-color: rgb(245, 185, 190);}
.twenty-page-sec{background-color: #ffffff; display: flex;}
.employee-sec-width25{width: 25%; float: left; text-align: center; position: relative;}
.employee-title, .employee-num{font-size: 11px; font-weight: bold;}
.emply-border{border-top: 1px solid; position: relative; width: 56%;  margin: 0 auto;}
.mx-15 { margin-left: 15px; margin-right: 15px; }
.mx-17 { margin-left: 17px; margin-right: 17px; }
.mt-10 { margin-top: 10px; }
.mt-2 { margin-top: 2px; }
.mt-50 { margin-top: 50px; }
.mt-40 { margin-top: 40px; }
.ml-20 { margin-left: 20px; }
.ml-40 { margin-left: 40px; }
.clear-both { clear: both; }
.logo-img { width: 120px; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.seventh-page-sec78{float: left; padding: 10px;}
.seventh-page-first-box { float: right; width: 20%; border: 1px solid #d1d1d1; padding: 10px; box-shadow: 0px 0px 10px #b3b3b3; 
    margin-right: 5px; height: 100px; text-align: center; }
.seventh-page-first-box img { height: 100%; }
.padd5{padding: 0px 5px;}
.seventh-page-firstbx25{padding: 10px 0px; position: relative;}
.seventh-page-75 { padding: 0 10px!important; }
.seventh-page-qns2{float: left; padding: 10px; }
.seventh-page-fs20{padding: 8px 7px 5px 7px; float: left;}
.seventh-page-fs21{padding: 8px 5px 5px 5px; float: left;}
.seventh-page-fs22{padding: 5px 7px;float: left;}
.seventh-page-fs23{padding: 5px 7px 10px 5px;float: left;}
.seventh-page-gray-box { background-color: #e6e7e8; width: 75%; float: left; line-height: 18px; }
.seventh-page-igcse { flex: 1; text-align: center; background-color: #f8d1ca; border-radius: 20px; padding: 10px; margin-right: 10px; margin-bottom: 10px; }
.seventh-page-ib { flex: 1; text-align: center; border-radius: 20px; padding: 10px; background-color: #d7ebdf; margin-left: 10px; margin-bottom: 10px;}
.seventh-page-third { flex: 1; text-align: center; border-radius: 20px; padding: 10px; background-color: #b6e0f8; margin-right: 10px; margin-top: 10px;}
.seventh-page-forth { flex: 1; text-align: center; border-radius: 20px; padding: 10px; background-color: #d8d3e9; margin-left: 10px; margin-top: 10px;}
.twentyh-page-empl { display: flex; flex-wrap: wrap; }
.seventh-page-igcse-wrapper { flex: 1; border-right: 2px solid rgb(245, 185, 190); border-bottom: 2px solid #33b1c2; flex-direction: column; display: flex; }
.seventh-page-ib-wrapper { flex: 1; border-bottom: 2px solid rgb(149, 207, 176); flex-direction: column; display: flex;}
.seventh-page-third-wrapper { flex: 1; border-right: 2px solid #d8d3e9; flex-direction: column; display: flex;}
.seventh-page-forth-wrapper { flex: 1; flex-direction: column; display: flex;}

.fifth-page-row { padding: 5px; font-size: 13.5px;  }
.fifth-page-first-box { float: left; padding: 0 5px;  }
.pl-20 { padding-left: 20px; }
.middle-icon-wrapper { position: absolute; top: 40%; left: 42.6%; }
.img-wrapper-flex { display: flex; flex-wrap: wrap; }

.employee-title { position: absolute; bottom: 0; left: 38%; }
.emply-border { position: absolute; bottom: 15px; left: 24%; }
.emply-bar{ position: absolute; bottom: 16px; left: 42%; }
.twenty-page-sec { min-height: 135px; }
.employee-num { position: absolute; left: 41%; }

ul.mr-5.pl-20 { margin-bottom: 0; margin-top: 0; }