<div class="seventh-page mt-20">
  <div class="">
    <div class="text-right">
      <img class="logo-img" src="assets/images/Header.png" />
    </div>
    <div class="text-center">
      <img style="width: 35%;" src="assets/images/Page 7/Seventh-Ages 4-5.png">
    </div>

    <div class="">
      <div class="seventh-page-gray-box" style="">
        <div class="seventh-page-fs20" style="width: 1%;"><strong>Q</strong></div>
        <div class="seventh-page-fs21" style="width: 93%;"><strong>Which is My Preferred school board?</strong> </div>

        <div class="" style="position: relative; padding-bottom: 5px;">
          <div class="seventh-page-fs22" style="width: 1%;"><strong>A</strong></div>
          <div class="seventh-page-fs23" style="width: 90%;">
            Your input zone is the key to your most preferred learning method. Different school boards prefer
            different teaching methods emphasizing on- Text, Pictures, Audio, Visuals, Demonstrations, practical,
            Hands-on-Activities etc. Check out your most preferred school board.
          </div>

        </div>
      </div>

      <div class="seventh-page-first-box" style=" ">
        <img class="width-100" src="assets/images/Page 7/Seventh-pageIMG1.png">
      </div>
      <div class="clear-both"></div>
    </div>

    <div class="mt-10">
      <div class="seventh-page-firstbx25" style=" background-color: #e6e7e8; width: 50%; float: left;">
        <div class="" style="padding: 0px 5px;">
          <span style="color: #00a6bf; font-weight: bold;font-size: 20px; "> SSC</span>
          <div class="font-size-10" style="font-weight: bold;">(SECONDARY SCHOOL CERTIFICATE)</div>
          Provided & governed by state government. Every State has its own education board which
          looks after the academic affairs of the schools coming under it. Moderately loaded
          curriculum stressing on Text & Picture based teaching. Recommended for kids with stronger
          visual input zone
        </div>
      </div>

      <div class="seventh-page-first-bx45" style="width: 45%;">
        <div class="seventh-page-fs1" style="width: 75%; float: left; margin-left: 1px;">
          <div class="ssc-bar" [ngStyle]="{'width': data.dataMap.page7.ssc_perc+'%' }"></div>
        </div>
        <div class="seventh-page-fs1" style="width: 24%; float: left; text-align: center; margin-top: 7px; font-weight: bold;">
           {{data.dataMap.page7.ssc_perc}}% 
           <div>{{data.dataMap.page7.ssc_arch}}</div>
        </div>
        <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>

    <div class="mt-10">
      <div class="seventh-page-firstbx25" style="background-color: #e6e7e8; width: 50%; float: left;">
        <div class="" style="padding: 0px 5px;">
          <span style="color: #00a6bf; font-weight: bold;font-size: 20px; "> CBSE</span>
          <div class="font-size-10"><span style="font-weight: bold;">(CENTRAL BOARD OF SECONDARY EDUCATION)</span></div>
          Well recognized board based on NCERT Syllabus which emphasize on integrated Auditory & Visual style
          of teaching. Universal pattern suitable for parents with transferable jobs. Helpful in pursuing careers
          in engineering & Medical fields or Application based subjects
        </div>       
      </div>

      <div class="seventh-page-first-bx45" style="width: 45%; ">
        <div class="seventh-page-fs1" style="width: 75%; float: left; margin-left: 1px;">
          <div class="cbse-bar" [ngStyle]="{'width': data.dataMap.page7.cbse_perc+'%' }"></div>
        </div>

        <div class="seventh-page-fs1" style="width: 24%; float: left; text-align: center; margin-top: 7px; font-weight: bold;">
          {{data.dataMap.page7.cbse_perc}}% 
          <div>{{data.dataMap.page7.cbse_arch}}</div>
       </div>
       <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>

    <div class="mt-10">
      <div class="seventh-page-firstbx25" style="background-color: #e6e7e8; width: 50%; float: left;">
        <div class="" style="padding: 0px 5px;">
          <span style="color: #00a6bf; font-weight: bold;font-size: 20px; "> ICSE</span>
          <div class="font-size-10"><span style="font-weight: bold;">(INDIAN CERTIFICATE OF SECONDARY EDUCATION)</span></div>
          Syllabus set by "council for the Indian School Certificate Examinations" - a private educational body.
        Apart from Audio-Visual based teachings, significance is given on elaborated discussions & demonstrations. A
        broad range of curriculum focuses on holistic approach for
        developing communication & analytical skills of students
        </div>       
      </div>

      <div class="seventh-page-first-bx45" style="width: 45%; ">
        <div class="seventh-page-fs1" style="width: 75%; float: left; margin-left: 1px;">
          <div class="icse-bar" [ngStyle]="{'width': data.dataMap.page7.icse_perc+'%' }"></div>
        </div>

        <div class="seventh-page-fs1" style="width: 24%; float: left; text-align: center; margin-top: 7px; font-weight: bold;">
          {{data.dataMap.page7.icse_perc}}% 
          <div>{{data.dataMap.page7.icse_arch}}</div>
       </div>
       <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    
    <div class="mt-10">
      <div class="seventh-page-firstbx25" style="background-color: #e6e7e8; width: 50%; float: left;">
        <div class="" style="padding: 0px 5px;">
          <div class="seventh-page-underline">
            <div class="seventh-page-igcse">
              <span style="color: #00a6bf; font-weight: bold;font-size: 20px; "> IGCSE</span>
              <span class="font-size-10" style="font-weight: bold;"> (CAMBRIDGE)</span>
              <div class="font-size-10" style="font-weight: bold;">INTL. GENERAL CERTIFICATE OF SECONDARY EDUCATION</div>
            </div>
            <div class="seventh-page-ib">
              <span style="color: #00a6bf; font-weight: bold;font-size: 20px; "> IB</span>
              <span class="font-size-10" style="font-weight: bold;"> (SWITZERLAND)</span>
              <div class="font-size-10" style="font-weight: bold;">INTL. BACCALAUREATE (NON PROFIT)</div>
            </div>
            <div class="clear-both"></div>
          </div>
         
          Curriculum based on Application & Experimentation. More suitable for pro-active & practical learners.
           Recognized by most of universities of world. Perfectly suitable for studies abroad 
        </div>       
      </div>

      <div class="seventh-page-first-bx45" style="width: 45%; ">
        <div class="seventh-page-fs1" style="width: 75%; float: left; margin-left: 1px;">
          <div class="igcse-bar" [ngStyle]="{'width': data.dataMap.page7.ib_perc+'%' }"></div>
        </div>

        <div class="seventh-page-fs1" style="width: 24%; float: left; text-align: center; margin-top: 7px; font-weight: bold;">
          {{data.dataMap.page7.ib_perc}}% 
          <div>{{data.dataMap.page7.ib_arch}}</div>
       </div>
       <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>

    <div class="mt-10" style="background-color: #e6e7e8!important;">
      <div class="fifth-page-row">
        <div class="fifth-page-first-box" style="width: 2%;"><strong>Q</strong></div>
        <div class="fifth-page-first-box" style="width: 90%;"><strong>We have already selected school board which is less preferred in this report what should we do?</strong> </div>
        <div class="clear-both"></div>
      </div>
      <div class="fifth-page-row">
        <div class="fifth-page-first-box" style="width: 2%;"><strong>A</strong></div>
        <div class="fifth-page-first-box" style="width: 90%; text-align: justify; ">
          No need to change the board. The above statistics is just an indication to the most preferred learning 
          methods of this brain. Just give more emphasis on the acquiring styles to get the best results.
        </div>
        <div class="clear-both"></div>
      </div>
    </div>
    
    
  
  </div>
</div>