.twenty-nine-page { font-family: Arial;   text-align: justify; }
.twenty-nine-page-Research{color: #00a9c1; font-weight: bold;  font-size: 20px; padding-bottom: 7px;}
.twenty-nine-page-sec{ background-color: #f2f2f2;}
.twenty-nine-page-Rsa-1{padding: 5px 10px; line-height: 20px;}
.mt-15{margin-top: 15px;}