.twenty-nine-page { font-family: Arial;   text-align: justify; font-size: 14px; margin-left: 40px; }
.twenty-nine-page-Research{color: #00a9c1; font-weight: bold;  font-size: 20px; padding-bottom: 7px;}
.twenty-nine-page-sec{ background-color: #e7e7e7;}
.twenty-nine-page-Rsa-1{padding: 10px; line-height: 22px;}
.mt-15{margin-top: 15px;}