<div class="twenty-nine-page mt-20">
    <div class="">
        <div class="text-right">
            <img class="logo-img" src="assets/images/Header.png" />
        </div>
        <div class="mt-10">
            <div>
                <div class="text-center twenty-nine-page-Research">PRAGMATIST EMPLOYEE</div>
                <div class="twenty-nine-page-sec">
                    <div class="twenty-nine-page-Rsa-1">
                        PRAGMATISTS long for a stable and secured job. They dislike shuffling unless they are absolutely
                        sure about the benefits. They are loyal & hardworking individuals who perform exceptionally well
                        if given responsibilities. PRAGMATISTS have a tendency to first check the details of the task
                        with instructions clearly outlined. They are at ease when the directive & mandates are clearly
                        defined along with the deadlines. PRAGMATISTS can work in various fields, but they feel
                        comfortable working in an organization where structure & hierarchy are well established. They
                        hate working in a haphazard & order-less environment, also they are intolerant to
                        indecisiveness. PRAGMATISTS are most productive when working by themselves, but they also
                        appreciate the value of working in a team as well, as long as their subordinates render
                        reasonable contribution. They have a very clear command of time & priorities. With all their
                        preconditions, PRAGMATISTS still can be counted among the employees, known for their invaluable
                        & unparalleled contribution. Their core competency lies in planning, organizing & mapping out
                        schedules to follow the agenda</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="text-center mt-20">
            <img src="assets/images/Page 29/PAGE-29-Inner-personality-4.jpg" class="width-100">
        </div>
        <div class="mt-15">
            <div>
                <div class="text-center twenty-nine-page-Research">PRAGMATIST BOSS</div>
                <div class="twenty-nine-page-sec">
                    <div class="twenty-nine-page-Rsa-1">
                        PRAGMATIST personalities have all the administrative elements integrated within them by default.
                        They hustle all their life to reach this milestone they righteously deserve. To work under a
                        PRAGMATISTS boss can either be a triumph or a nightmare, which differs from person to person.
                        They have strong opinions about the ways, they want things to be done. They love authority &
                        power and are often intolerant towards their employee if they fail to meet their
                        responsibilities. They strictly prefer their subordinates to follow the guidelines, expect them
                        to accomplish their targets maintaining high standards, all within the deadline. PRAGMATISTS
                        never hesitate to take tough decisions. Although it may help them to achieve their objectives
                        but they are often perceived to be ruthless, which may face criticism. Also due to lack of
                        sensitivity they may sound harsh when they enforce their perspectives. Still and all, working in
                        an organization headed by PRAGMATISTS can be a boon to like-minded individuals who are ready to
                        slog for a better future. Nothing can go wrong with a boss like PRAGMATIST as they can
                        accomplish almost anything they put into their minds. They are pioneers in sense of planning
                        with a strong eye for details. The organizations they create sets a benchmark for others to
                        follow.</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>