.page3-tbl-1{border-collapse: collapse; border-color: black;}
.page3-btm-sec{padding-left: 10px; border-left: 1px solid; padding-top: 3px;}
.page-btm-12 {width: 65%; float: left; line-height: 20px; font-size: 11px;}
.page3-cnt-detl {width: 12px; vertical-align: middle;}
.page3-width-30 {width: 30%; float: left;}
.third-page-dsclmr{text-align: center;background-color: #e6e7e8;}