<div class="thirteen-page mt-40">
    <div class="text-right">
        <img class="logo-img" src="assets/images/Header.png" />
    </div>
    <div class="mt-20" style="background-color: #e6e7e8;">
        <div class="tenth-page-row">
          <div class="fifth-page-first-box" style="width: 2%; font-size: 14px;"><strong>Q</strong></div>
          <div class="fifth-page-first-box" style="width: 94%; font-size: 14px;"><strong>So as a stress buster what should
             I prefer ?</strong> </div>
          <div class="clear-both"></div>
        </div>
        <div class="tenth-page-row">
          <div class="fifth-page-first-box" style="width: 2%; font-size: 14px;"><strong>A</strong></div>
          <div class="fifth-page-first-box" style="width: 94%; text-align: justify; font-size: 14px; ">
            Select anything from a list of your Passion from page no 10 & 11. 
            Also check this list of some&nbsp;unique&nbsp;hobbies
          </div>
          <div class="clear-both"></div>
        </div>
    </div>
    <div class="graph">
    <div class="mt-10">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Story, Poetry, Lyrics etc. Writing  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth81" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">81%</span> 
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
      
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Baking, Noodling </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth60" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">60%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Learning how to DIY </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth60" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">60%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Thrifting & Selling back online  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth81" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">81%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Making Perfumes, Soaps, Jams etc. </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth68" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">68%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Astrology  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth50" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">50%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Sewing, Embroidery, Crocheting, Tapestry, Quilting etc. </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth81" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">81%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Optical Illusion Games   </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Mountaineering, Rock climbing, Bouldering  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth77" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">77%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Robot Making   </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth50" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">50%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Stock Market Games   </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Unique Crafts- Model building, Pottery, Macrame, Lapidary etc.  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth77" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">77%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Star Gazing </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth81" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">81%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Juggling, Ventriloquizing, Magic Tricks </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Designing Anagrams </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Marathon Running  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth45" >
          <div class="thirteen-page-stressbustrsecred" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">45%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Play Sudoku, Board Games, Solve Mazes  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth81" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">81%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Practicing & Teaching Survival & self-defence Skills   </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth45" >
          <div class="thirteen-page-stressbustrsecred" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">45%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Spirituality  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Weekend Adventuring, Trivia Contests  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth45" >
          <div class="thirteen-page-stressbustrsecred" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">45%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Blogging, Podcasting  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Pet Sitting, Fish Keeping, Reef Aquariums   </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth68">
          <div class="thirteen-page-stressbustrsecblue"></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">68%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Lock picking ( Unlocking Doors, Cars, Safes etc. without keys)  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth81" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">81%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Tattooing  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth45" >
          <div class="thirteen-page-stressbustrsecred" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">45%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Singing, Rapping etc.  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth81" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">81%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Organizing Clean Up Drives ( Neighbourhood, Beaches etc.) </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Social Service, Volunteering </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Cooking, Barbequing, Recipe Creation</div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth70" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">70%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Playing Fine Musical Instruments</div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth50" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">50%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Playing Gross Musical Instruments </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth70">
          <div class="thirteen-page-stressbustrsecblue"></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">70%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Reading </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth70" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">70%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Learning Foreign Language </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Making Music, EDM, Recording, Remixing Song/Fusion  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth70" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">70%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Palmistry, Tarot Reading  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Debating  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Collecting Stamps, Coins, Sea- Shells, Rocks etc.   </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth70" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">70%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Finger Painting, Scrapbooking, Taxidermy, Wall Art etc.   </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>

         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Photography, Lomography  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth70" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">70%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Gardening of Exotic plants, Bonsais, Terrarium Making etc.   </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth56" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">56%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Feng Shui Decorating  </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth40" >
          <div class="thirteen-page-stressbustrsecred" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">40%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Repairing Gadgets</div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth70" >
          <div class="thirteen-page-stressbustrsecblue" ></div>
        </div>
        <span style="margin-top: 1px;margin-left: 5px; right: -42px;">70%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
    <div class="">
      <div class="thirteen-page-stressbustrsec">
        <div class="" style="float: right;">Origami, Tangram, Matching Games etc </div>
       </div>
       <div class="thirteen-page-stressbustrsec1" >
        <div class="thirteen-page-stressbustrsecwidth99" >
          <div class="thirteen-page-stressbustrsecgreen" ></div>
        </div>
        <span style="float: right;   margin-top: 1px;">99.99%</span>
         <div class="clear-both"></div>
      </div>
      <div class="clear-both"></div>
    </div>
  </div>
  <div class="clear-both"></div>
  <div style="margin-top: 5px; margin-bottom: 10px;">
    <div class="clear-both"></div>
    <div>
  <div class="" style="text-align: center; font-weight: bold; font-size: 14px;">
    <span style=" margin-right: 4px; margin-left: 40px;">Just Fair : </span><span style="background-color: red; padding: 2px 5px; color: #ffffff;">RED</span>
   <span style="margin-left: 23px; margin-right: 4px;"> Good :</span> <span style="background-color: blue; padding: 2px 5px; color: #ffffff;">BLUE</span> 
   <span style="margin-left: 23px; margin-right: 4px;">Excellent :</span> <span style="background-color: green; padding: 2px 5px; color: #ffffff;">GREEN</span>
  </div>
</div>
  </div>
</div>