.thirteen-page { font-family: Arial; font-size: 11px; text-align: justify; }
.tenth-page-row { padding: 5px 0; }
.fifth-page-first-box { float: left; padding: 0 5px; }
.thirteen-page-stressbustrsec{padding: 0px 5px 5px 0px; width: 49%; float: left; }
.thirteen-page-stressbustrsec1{position: relative;float: right; padding: 0px 0px 8px 0px; width: 49%;}
.thirteen-page-stressbustrsecwidth81{width: 81%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecgreen{height:15px;  background-color: #00923d;}
.thirteen-page-stressbustrsecwidth60{width: 60%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecblue{height:15px;  background-color: #024490;}
.thirteen-page-stressbustrsecwidth68{width: 68%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecwidth50{width: 50%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecwidth56{width: 56%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecwidth77{width: 77%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecred{height:15px;  background-color: #da2419;}
.thirteen-page-stressbustrsecwidth45{width: 45%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecwidth70{width: 70%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecwidth40{width: 40%; float: left; margin-left: 1px;}
.thirteen-page-stressbustrsecwidth99{width: 100%; float: left; margin-left: 1px;}
.thirteen-page-width30{ float: left; padding: 5px; text-align: center;}

