<div class="twelveth-page mt-40">
    <div class="text-right">
        <img class="logo-img" src="assets/images/Header.png" />
    </div>
   <div class="twelveth-page-bluebx mt-20">
        YOUR CHARACTER FACETS
    </div>
    <div class="mt-10">
        <div class="bx-row">
            <div class="thirtyone-page-sec" >
              <div class="thirtyone-page-firstbx25" >
                <div class="" style="padding: 0px 5px;">
                  <span style="color: #00a6bf; font-weight: bold;font-size: 20px; "> Where do I tend to focus my attention?</span>
                  <div class=" thirtyone-page-heading">INTROVERT</div>
                 <div class="mt-5"> 
                <span class="gry-bx">
                   </span>
                   <div class="section-bx">Enjoy spending time in solitude. Need time alone to recharge & reflect.
                    </div>
                    <div class="clear-both"></div>
                    <span class="gry-bx">
                    </span>
                    <div class="section-bx">Don't prefer to be the center of attention. Can be seen as reserved.
                     </div>
                     <div class="clear-both"></div>
                     <span class="gry-bx">
                     </span>
                     <div class="section-bx">Value close one-on-one relationships. Think before speaking.
                      </div>
                      <div class="clear-both"></div>
                      <span class="gry-bx">
                      </span>
                      <div class="section-bx">Prefer working in quiet, independent environments. Less talkative.
                       </div>
                       <div class="clear-both"></div>
                      <span class="gry-bx">
                      </span>
                      <div class="section-bx">Deeply focus and think about specific interests.
                       </div>
                     
                  </div>
                </div>
                <div class="clear-both"></div>
                <div class="" style="padding: 0px 5px;">
               <div class=" thirtyone-page-heading">EXTROVERT</div>
                 <div class=""> 
                <span class="gry-bx">
                   </span>
                   <div class="section-bx">Gain energy from being around other people.
                    </div>
                    <div class="clear-both"></div>
                    <span class="gry-bx">
                    </span>
                    <div class="section-bx">Enjoy being the center of attention. Have large social networks. 
                     </div>
                     <div class="clear-both"></div>
                     <span class="gry-bx">
                     </span>
                     <div class="section-bx">Tend to think out loud. Make quick decisions.
                      </div>
                      <div class="clear-both"></div>
                      <span class="gry-bx">
                      </span>
                      <div class="section-bx">Prefer working in quiet, independent environments. Less talkative.
                       </div>
                       <div class="clear-both"></div>
                      <span class="gry-bx">
                      </span>
                      <div class="section-bx">Thrive in team-oriented and open work settings.
                       </div>
                   </div>
                </div>
                <div class="clear-both"></div>
              </div>
                <div class="thirtyone-page-sec-bx" style="width: 22%;">
                <div class="employee-sec-width25">
                    <div class="employee-num">100%</div>
                    <span class="emply-bar" style="background-color: #d4c4b4;"></span>
                    <div class="emply-border"></div>
                    <div class="employee-title">INTROVERT </div>
                    <div class="clear-both"></div>
                </div>
                <div class="employee-sec-width25">
                  <div class="employee-num">100%</div>
                  <span class="emply-bar" style="background-color: #e9b15a;"></span>
                  <div class="emply-border"></div>
                  <div class="employee-title">EXTROVERT</div>
                  <div class="clear-both"></div>
              </div>
            </div>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="clear-both"></div>
   
  </div>
  