<div class="twenty-sixth-page mt-20">
    <div class="">
        <div class="text-right">
            <img class="logo-img" src="assets/images/Header.png" />
        </div>
        <div class="mt-10">
            <div>
                <div class="text-center twenty-nine-page-Research">PRAGMATIST INTRODUCTION</div>
                <div class="twenty-nine-page-sec">
                    <div class="twenty-nine-page-Rsa-1">
                        As the title depicts PRAGMATISTS are the most practical, responsible, and dedicated
                        personalities. Falling under the REGULATOR family they are very loyal towards their duties and
                        take pride in fulfilling the responsibility they have chosen. PRAGMATISTS are fact-driven
                        individuals who hate making assumptions. They are methodical to the core and prefer to analyze
                        the facts and statistics before committing themselves to any assignment. Once they undertake a
                        task, they work with timeless dedication, often scarifying their personal time and resources to
                        fulfill the obligation. Unfortunately for PRAGMATISTS, their wholehearted dedication sometimes
                        becomes more of a liability than an asset. They may be vulnerable to manipulation because of
                        this quality. People who know their nature, may sometimes cunningly or diplomatically shift
                        their responsibilities or workload onto them knowing that they will invariably take up the
                        slack. Nevertheless, on the brighter side PRAGMATISTS are also genuinely appreciated and
                        complimented by their friends and colleagues for the stabilizing role they play. For PRAGMATISTS
                        those are the priceless moments they strive for.</div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="mt-10">
            <div class="twenty-sixth-page-row-wrapper">
                <div class="twenty-sixth-page-column-one">
                    <span class="twentyth-page-section-heading">
                        PROS
                    </span>
                </div>
                <div class="twenty-sixth-page-column-two">
                    <div class="twenty-sixth-page-perc-col">
                        <span class="twentyth-page-section-heading">
                            PROS
                        </span>
                    </div>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="mt-10">
            <div class="twenty-sixth-page-row-wrapper">
                <div class="twenty-sixth-page-column-one">
                    <span class="twentyth-page-section-subheading">
                        Honest, loyal, dutiful & responsible. Extremely dedicated 
                        <br>& determined regarding their
                        duties towards self & others.
                    </span>
                </div>
                <div class="twenty-sixth-page-column-two">
                    <span class="twentyth-page-section-subheading">
                        Too traditional, often to the extent of being orthodox 
                        <br>(reluctant to bend the rules).
                    </span>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>