<div class="twenty-sixth-page mt-40" style="margin-top: 50%;">
    <div class="text-right">
        <img class="logo-img" src="assets/images/Header.png" />
    </div>
    <div class="blue-header mt-10">
        PRAGMATIST (REGULATORS FAMILY)
    </div>

    <div class="flex-row mt-10">
        <div class="flex-cols mr-5">
            <div class="flex-heading">
                <h4>INQUISITORS</h4>
                Guided By Logic
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">STRATIGEST</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">ADMINISTRATOR</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">THEORIST</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">CHALLANGER</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
        </div>
        <div class="flex-cols mr-5">
            <div class="flex-heading">
                <h4>ANTICIPATORS</h4>
                Guided By Principles
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">SAMARITAN</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">SOCIALIZER</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">OPTIMIST</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">ENERGIZER</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
        </div>
        <div class="flex-cols mr-5">
            <div class="flex-heading">
                <h4>REGULATORS</h4>
                Guided By Practicality
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">PRAGMATIST</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">EXPONENT</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">BENEVOLENT</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">INDULGENT</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
        </div>
        <div class="flex-cols">
            <div class="flex-heading">
                <h4>PARTICIPATORS</h4>
                Guided By Excitement
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">IMPROVISER</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">EXPLORER</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">EMPIRIC</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
            <div class="flex-content mt-5">
                <div class="flex-row">
                    <div class="flex-cols col-content">JUBILANT</div>
                    <div class="flex-perc">50%</div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-20">
        <div class="twenty-nine-page-sec" style="padding: 15px 15px 25px;">
            <div class="text-center twenty-nine-page-Research">PRAGMATIST INTRODUCTION</div>
            <div class="twenty-nine-page-Rsa-1">
                As the title depicts PRAGMATISTS are the most practical, responsible, and dedicated
                personalities. Falling under the REGULATOR family they are very loyal towards their duties and
                take pride in fulfilling the responsibility they have chosen. PRAGMATISTS are fact-driven
                individuals who hate making assumptions. They are methodical to the core and prefer to analyze
                the facts and statistics before committing themselves to any assignment. Once they undertake a
                task, they work with timeless dedication, often scarifying their personal time and resources to
                fulfill the obligation. Unfortunately for PRAGMATISTS, their wholehearted dedication sometimes
                becomes more of a liability than an asset. They may be vulnerable to manipulation because of
                this quality. People who know their nature, may sometimes cunningly or diplomatically shift
                their responsibilities or workload onto them knowing that they will invariably take up the
                slack. Nevertheless, on the brighter side PRAGMATISTS are also genuinely appreciated and
                complimented by their friends and colleagues for the stabilizing role they play. For PRAGMATISTS
                those are the priceless moments they strive for.
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="mt-10">
        <div class="twenty-sixth-page-row-wrapper">
            <div class="twentyth-page-section-heading" style="margin-right: 10px;">
                PROS
            </div>
            
           
            <div class="twentyth-page-section-heading">
                CONS
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
    <div class="mt-10">
        <div class="twenty-sixth-page-row-wrapper">
            <div class="twenty-sixth-page-column-one">
                <div class="twentyth-page-section-subheading">
                    Honest, loyal, dutiful & responsible. Extremely dedicated 
                    & determined regarding their
                    duties towards self & others.
                </div>
            </div>
            <div class="twenty-sixth-page-column-two">
                <div class="twentyth-page-section-subheading">
                    Too traditional, often to the extent of being orthodox 
                   (reluctant to bend the rules).
                </div>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>

    <div class="mt-10">
        <div class="twenty-sixth-page-row-wrapper">
            <div class="twenty-sixth-page-column-one">
                <span class="twentyth-page-section-subheading">
                    Highly precise, systematic, stable & practical. Repositories of structured & orderly methods. 
                </span>
            </div>
            <div class="twenty-sixth-page-column-two">
                <span class="twentyth-page-section-subheading">
                    Insensitive to consider emotions, naturally less receptive to the feeling of others. 
                </span>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>

    <div class="mt-10">
        <div class="twenty-sixth-page-row-wrapper">
            <div class="twenty-sixth-page-column-one">
                <span class="twentyth-page-section-subheading">
                    Task-oriented. Able to accomplish objectives by applying logical & rational thinking. 
                </span>
            </div>
            <div class="twenty-sixth-page-column-two">
                <span class="twentyth-page-section-subheading">
                    At times gives importance only to the facts based on their own perspectives. Becomes stubborn and judgmental. 
                </span>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>

    <div class="mt-10">
        <div class="twenty-sixth-page-row-wrapper">
            <div class="twenty-sixth-page-column-one">
                <span class="twentyth-page-section-subheading">
                    Significantly observant. Initiates with utmost clarity with nothing taken for granted. 
                </span>
            </div>
            <div class="twenty-sixth-page-column-two">
                <span class="twentyth-page-section-subheading">
                    Very reserved. Difficult in working with teams if their methods are questioned. Their mantra "My way or the highway". 
                </span>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>

    <div class="mt-10">
        <div class="twenty-sixth-page-row-wrapper">
            <div class="twenty-sixth-page-column-one">
                <span class="twentyth-page-section-subheading">
                    Family and community-oriented. Values freedom, regulations & conservations. 
                </span>
            </div>
            <div class="twenty-sixth-page-column-two">
                <span class="twentyth-page-section-subheading">
                    Requires stability and security to be optimal. Intolerant to laziness & indecisiveness. 
                </span>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>