<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet"> -->
  <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <div class="webkit">

      <div class="ml-40 mt-18">
        <app-page1 [data]="data"></app-page1>
      </div>   

      <app-page2 [data]="data"></app-page2>

      <app-page3 [data]="data"></app-page3>

      <app-page4 [data]="data"></app-page4>

      

      <div class="fifth-page mt-40">
        <div class="ml-40">
          <div class="text-right">
            <img class="logo-img" src="assets/images/Header.png" />
          </div>

          <div class="text-center mt-10">
            <img style="width: 40%;" src="assets/images/Page 5/Ages 12 &3 Img.png" >
          </div>

          <div class="mt-20" style="background-color: #e6e7e8!important;">
            <div class="fifth-page-row">
              <div class="fifth-page-first-box" style="width: 2%;"><strong>Q</strong></div>
              <div class="fifth-page-first-box" style="width: 90%;"><strong>What Is The First Thing I Should Know?</strong> </div>
              <div class="clear-both"></div>
            </div>
            <div class="fifth-page-row">
              <div class="fifth-page-first-box" style="width: 2%;"><strong>A</strong></div>
              <div class="fifth-page-first-box" style="width: 90%; text-align: justify; ">
                Just like a CPU (Central Processing Unit) of a Computer which receives information from keyboard & mouse, 
                our central nervous system (CNS) receives information from our 5 senses. Our CNS is made up of nerve cells 
                which are called Neurons. They are highly specialized cells responsible for communicating information in both 
                chemical and electrical forms. Our brain collects data with the help of Neurons via 6 input zones. The higher 
                the Neural density stronger the zone. So naturally, stronger input zones will become the most preferred input
                 method of the brain by default.
              </div>
              <div class="clear-both"></div>
            </div>
          </div>

          <div class="mt-20" style="background-color: #e6e7e8!important;">
            <div class="fifth-page-row">
              <div class="fifth-page-first-box" style="width: 2%;"><strong>Q</strong></div>
              <div class="fifth-page-first-box" style="width: 90%;"><strong>So what is the most preferred input method of this Brain?</strong> </div>
              <div class="clear-both"></div>
            </div>
          </div>

          <div class="fifth-page-main mt-10">
            <div class="fifth-page-first-main">
              <div style="position: absolute; left: 21px;">A. </div>   LEFT BRAIN
            </div>
            <div class="fifth-page-second-main">
              LEARNING <br/> STYLE
            </div>
            <div class="fifth-page-third-main">
              RIGHT BRAIN
            </div>
            <div class="clear-both"></div>
          </div>

          <div class="fifth-page-main mt-10">
            <div class="fifth-page-first-main-content">
              <div>
                <div class="rank">{{ data.dataMap.page5.fm_rank }}</div>
                <div class="fifth-section-name">FINE MUSCLES</div>
                <div class="perc">{{ data.dataMap.page5.fm_perc }}</div>
                <div class="clear-both"></div>
              </div>
              <div>
                 <div class="fifth-page-left-image">
                  <img src="assets/images/Page 5/Fine Muscles.png" />
                 </div>
                 <div class="fifth-page-left-content Fifthpage20">
                 
                    <ul>
                      <li>Writing, </li>
                      <li>Gripping, </li>
                      <li>Drawing, </li>
                      <li>Cutting, </li>
                      <li>Decorating, </li>
                      <li>Presentation, </li>
                      <li>Finesse,etc </li>
                      <li style="list-style-type: none;">&nbsp; </li>
                    </ul>
                  
                 </div>
              </div>
            </div>
            <div class="fifth-page-second-main-content">
              <div class="position-relative">
                <img src="assets/images/Page 5/Kinesthetic.png" style="width: 80%;" />
                <div class="Fifth-page-second-content-absolute-num">{{ data.dataMap.page5.kin_rank }}</div>
              </div>
              
              <div class="clear-both"></div>
              <div class="mt-20 text-center">
                {{ data.dataMap.page5.kin_perc }} <br>
                <strong>KINESTHETIC</strong>
              </div>
            </div>

            <div class="fifth-page-third-main-content">
              <div>
                <div class="rank">{{ data.dataMap.page5.gm_rank }}</div>
                <div class="fifth-section-name">GROSS MUSCLES</div>
                <div class="perc">{{ data.dataMap.page5.gm_perc }}</div>
                <div class="clear-both"></div>
              </div>
              
              <div>
                
                <div class="fifth-page-left-content Fifthpage20">
                
                   <ul>
                    <li>Walking,</li>
                    <li>Running,</li>
                    <li>Jumping,</li>
                    <li>Hopping</li>
                    <li>Dancing,</li>
                    <li>Stamina,</li>
                    <li>Physical <br/>activities, etc</li>
                   </ul>
                 
                </div>

                <div class="fifth-page-left-image">
                  <img src="assets/images/Page 5/Gross muscles.png" />
                 </div>
             </div>

            </div>
            <div class="clear-both"></div>
          </div>

          <div class="fifth-page-main mt-10">
            <div class="fifth-page-first-main-content">
              <div>
                <div class="rank">{{ data.dataMap.page5.ling_rank }}</div>
                <div class="fifth-section-name">LINGUISTICS</div>
                <div class="perc">{{ data.dataMap.page5.ling_perc }}</div>
                <div class="clear-both"></div>
              </div>
              <div>
                 <div class="fifth-page-left-image">
                  <img src="assets/images/Page 5/Linguistics.png" />
                 </div>
                 <div class="fifth-page-left-content Fifthpage20">
                    <ul>
                      <li>Hearing-identification, </li>
                      <li>Word, </li>
                      <li>Vocabulary,</li>
                      <li>Speech </li>
                      <li>Accent</li>
                      <li>Short term-memory etc.</li>
                    </ul>
                  
                 </div>
              </div>
            </div>
            <div class="fifth-page-second-main-content">
              <div class="position-relative">
                <img src="assets/images/Page 5/Auditory.png" style="width: 80%;" />
                <div class="Fifth-page-second-content-absolute-num">{{ data.dataMap.page5.aud_rank }}</div>
              </div>
              
              <div class="clear-both"></div>
              <div class="mt-20 text-center">
                {{ data.dataMap.page5.aud_perc }} <br>
                <strong>AUDITORY</strong>
              </div>
            </div>

            <div class="fifth-page-third-main-content">
              <div>
                <div class="rank">{{ data.dataMap.page5.sound_rank }}</div>
                <div class="fifth-section-name">SOUND</div>
                <div class="perc">{{ data.dataMap.page5.sound_perc }}</div>
                <div class="clear-both"></div>
              </div>
              
              <div>
                
                <div class="fifth-page-left-content Fifthpage20">
                
                   <ul>
                    <li>Rhythm</li>
                    <li>Tunes</li>
                    <li>Pitch</li>
                    <li>Timbre</li>
                    <li>Feelings </li>
                    <li>Emotions,</li>
                    <li>Sound-Patterns etc.</li>
                   </ul>
                 
                </div>

                <div class="fifth-page-left-image">
                  <img src="assets/images/Page 5/Sound.png" />
                 </div>
             </div>

            </div>

            <div class="clear-both"></div>
          </div>

          <div class="fifth-page-main mt-10">
            <div class="fifth-page-first-main-content">
              <div>
                <div class="rank">{{ data.dataMap.page5.text_rank }}</div>
                <div class="fifth-section-name">TEXT</div>
                <div class="perc">{{ data.dataMap.page5.text_perc }}</div>
                <div class="clear-both"></div>
              </div>
              <div>
                 <div class="fifth-page-left-image">
                  <img src="assets/images/Page 5/Text.png" />
                 </div>
                 <div class="fifth-page-left-content Fifthpage20">
                    <ul>
                      <li>Written documents</li>
                      <li> Font size</li>
                      <li>Arithmetic (numbers)</li>
                      <li> Trajectory </li>
                      <li>Minute - Observation etc. </li>
                    </ul>
                  
                 </div>
              </div>
            </div>
            <div class="fifth-page-second-main-content">
              <div class="position-relative">
                <img src="assets/images/Page 5/visual.png" style="width: 80%;" />
                <div class="Fifth-page-second-content-absolute-num">{{ data.dataMap.page5.vis_rank }}</div>
              </div>
              
              <div class="clear-both"></div>
              <div class="mt-20 text-center">
                {{ data.dataMap.page5.vis_perc }} <br>
                <strong>VISUAL</strong>
              </div>
            </div>

            <div class="fifth-page-third-main-content">
              <div>
                <div class="rank">{{ data.dataMap.page5.pic_rank }}</div>
                <div class="fifth-section-name">PICTURE</div>
                <div class="perc">{{ data.dataMap.page5.pic_perc }}</div>
                <div class="clear-both"></div>
              </div>
              
              <div>
                
                <div class="fifth-page-left-content Fifthpage20">
                
                   <ul>
                    <li>Shapes</li>
                    <li>Sizes</li>
                    <li>2D objects</li>
                    <li>Maps,</li>
                    <li>Diagram</li>
                    <li>Sketches</li>
                    <li>Layouts</li>
                    <li>Art etc.</li>
                   </ul>
                 
                </div>

                <div class="fifth-page-left-image">
                  <img src="assets/images/Page 5/Picture.png" />
                 </div>
             </div>

            </div>

            <div class="clear-both"></div>
          </div>
          
          <div style="margin-top: 5px;">
            <div class="footer-elem">
              Evaluation# {{ data.dataMap.footer.evalNo }}
            </div>
            <div class="footer-elem2 text-left">
              Date
            </div>
            <div class="footer-elem1">
              @Copyright - Siyasar Enterprise
            </div>
            <div class="footer-elem">
              www.brainography.com
            </div>
            <div class="footer-elem">
              Design By Freepik
            </div>
  
            <div class="clear-both"></div>
          </div>

          <div class="text-center">
            5
          </div>
        </div>
      </div>
     
      <div class="ml-40">
        <app-page6></app-page6>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          6
        </div>

        <app-page7></app-page7>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          7
        </div>

        <app-page8></app-page8>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          8
        </div>

        <app-page9></app-page9>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          9
        </div>

        <app-page10></app-page10> 
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          10
        </div>
      
      <app-page11></app-page11>
      <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          11
        </div>
        <app-page12></app-page12>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          12
        </div>
        <app-page13></app-page13>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          13
        </div>
        <app-page14></app-page14>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          14
        </div>
        <app-page15></app-page15>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          15
        </div>
        <app-page16></app-page16>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          16
        </div>
        <app-page17></app-page17>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          17
        </div>
      </div>
      
     
      
    </div>
  </div>
</body>

</html>