<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>

  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet"> -->
  <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <div class="webkit">

      <div class="ml-40 mt-18">
        <app-page1 [data]="data"></app-page1>
      </div>   

      <app-page2 [data]="data"></app-page2>

      <app-page3 [data]="data"></app-page3>

      <app-page4 [data]="data"></app-page4>
      
      <app-page5 [data]="data"></app-page5>
     
     
      <div class="ml-40">
        <app-page6></app-page6>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          6
        </div>

        <app-page7 [data]="data"></app-page7>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          7
        </div>

        <app-page8></app-page8>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          8
        </div>

        <app-page9></app-page9>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          9
        </div>

        <app-page10 [data]="data"></app-page10> 
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          10
        </div>
      
      <app-page11 [data]="data"></app-page11>
      <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          11
        </div>
        <app-page12 [data]="data"></app-page12>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          12
        </div>
        <app-page13></app-page13>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          13
        </div>
        <app-page14></app-page14>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          14
        </div>
        <app-page15></app-page15>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          15
        </div>
        <app-page16></app-page16>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          16
        </div>
        <app-page17></app-page17>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          17
        </div>
        <app-page18></app-page18>
        <app-footer [footerData]="data.dataMap"></app-footer>
        <div class="text-center">
          18
        </div>
       <app-page19></app-page19>
       <app-footer [footerData]="data.dataMap"></app-footer>
       <div class="text-center">
         19
       </div>
       <app-page20></app-page20>
       <app-footer [footerData]="data.dataMap"></app-footer>
       <div class="text-center">
         20
       </div>
      </div>
      
     
      
    </div>
  </div>
</body>

</html>