.fifthteenth-page{font-family: Arial, Helvetica, sans-serif; font-size: 11px;}
.eighteen-page-headingsec{padding: 6px 5px; color: #ffffff; text-align: center; font-size: 13px; font-weight: 800; }
.eighteen-page-fsize{font-size: 16px;}
.mt-5{margin-top: 3px;}
.eighteen-page-careerwidth32{ width: 49.26%; float: left; margin-right: 5px;}
.eighteen-page-margin-rght{margin-right: 0px;}
.eighteen-page-width79{width: 86%; float: left; border-right: 4px solid white;}
.eighteen-page-hd1 {  background-color: #1d2f81 }

.eighteen-page-careerhuman{
    background-color: #959492;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 0px;
    color: #ffffff;
}
.eighteen-page-careerhumanperc{
    background-color: #959492;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 2px;
    color: #ffffff;
    /* float: left; */
}
.eighteen-page-careerhumanperc1{
    background-color: #959492;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 2px;
    color: #ffffff;
}
.eighteen-page-careerbio{
    background-color: #97cfb2;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 5px;
    color: black; 
}
.eighteen-page-careerbio1{
    background-color: #97cfb2;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 0px;
    color: black; 
    flex: 1;
}

.eighteen-page-careercomm{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding: 5px 10px;
    color: black; 
}
.eighteen-page-careercommperc{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0px;
    color: black;
    flex: 1;
}
.eighteen-page-careercomm10{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding: 3px 10px;
    color: black; 
}
.eighteen-page-careercommperc10{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
    color: black;
    flex: 1;
}
.eighteen-page-pdlft5{
    padding-left: 5px;
}
.pad7{padding: 8.3px 10px;}
.padd{padding: 8.3px 5px;}
.padd15{padding: 15.3px 5px;}
.flex-row { display: flex; flex-wrap: wrap; }