<div class="eleventh-page mt-40">
  <div class="text-right">
      <img class="logo-img" src="assets/images/Header.png" />
  </div>

  <div class="mt-20">
    <div class="eleventh-page-cont1" style="width: 70%;">
      <div class="eleventh-page-cont12" ><strong>2</strong></div>
      <div class="eleventh-page-cont13" style="width: 90%; color: #00abc5; "><strong>YOU ARE HIGHLY VIGILANT & YOU LOVE NATURE</strong> </div>
      <div class="clear-both"></div>
      
      <div class="" style=" padding-bottom: 5px;">
       
        <div class="eleventh-page-fs23" style="width: 100%; ">
          Your strength is in the profoundness of your 5 senses and sharp observation. 
          Your sharp sense of observation helps you to focus and concentrate on immediate tasks in hands very clearly. You are good at editing, auditing. proof reading, fault finding, speed judgement, and trajectory. 
          You have affinity towards nature more than others.

        </div>
        <div class="eleventh-page-fs23" style="width: 100%; padding-top: 5px; ">
          You have ability to understand nature, plants, animals, environment etc. You can effectively identify, 
          observe, categorize, and understand their distinguishing features. This intelligence can help you to 
          use elements and patterns in the natural world to create products or solve problems.
       </div>
      </div>
    </div>

    <div class="eleventh-page-first-box" >
      <img class="width-100" src="assets/images/Page 10/PAGE-11-img1.jpg">
    </div>
    <div class="clear-both"></div>
    <div class="eleventh-page-row" style="padding-top: 2px; padding-right: 10px;">
      You will enjoy all the jobs which requires- relating, discovering, uncovering, observing, digging 
      (literally and metaphorically), collecting, sorting, comparing and displaying. You may be interested in careers dealing with nature such as astronomer, meteorologist, palaeontologist, geologist, ecologist, environmentalist, biologist, animal trainer, zookeeper, veterinarian, botanist, forest ranger, gardener, farmer, landscaper, nature photographer. If not nature related, 
      you may opt for editor, auditor, legal, nutritionist, chef, travel guide etc.
    </div>
  </div>
  <div class="eleventh-page-row mt-20 text-center" style="color: #00a9c2;">
    <strong>THE SUBJECTS OF YOUR INTEREST</strong>
  </div>

  <div class="eleventh-page-subof">
    <div>
      <ul class="eleventh-page-listsub">
        <li>Planting/ Farming</li>
        <li>Gardening/ Horticulture</li>
        <li>Plant Nursery</li>
        <li>Rain Water Harvesting</li>
        <li>Singing/ Rapping/ Yodelling</li>
        <li>Meditation</li>
        <li>Tour Guiding</li>
        <li>Cooking/ Catering</li>
        <li>Nature Photography</li>
        <li>Swimming</li>
        <li>Fishing</li>
        <li>Ice Cream Making</li>
        <li>Fishing</li>
        <li>Editing Videos/ Text/ Music</li>
        <li>Making Aquarium</li>
        <li>Scuba Diving</li>
        <li>Perfume Making </li>
        <li>Food Tasting</li>
        <div class="clear-both"></div>
      </ul>
      </div>
    <div class="clear-both"></div>
  </div>

  <div class="mt-20">
    <div class="eleventh-page-cont1" style="width: 70%;">
      <div class="eleventh-page-cont12" ><strong>2</strong></div>
      <div class="eleventh-page-cont13" style="width: 90%; color: #00abc5; "><strong>YOU ARE HIGHLY VIGILANT & YOU LOVE NATURE</strong> </div>
      <div class="clear-both"></div>
      
      <div class="" style=" padding-bottom: 5px;">
       
        <div class="eleventh-page-fs23" style="width: 100%; ">
          Your strength is in the profoundness of your 5 senses and sharp observation. 
          Your sharp sense of observation helps you to focus and concentrate on immediate tasks in hands very clearly. You are good at editing, auditing. proof reading, fault finding, speed judgement, and trajectory. 
          You have affinity towards nature more than others.

        </div>
        <div class="eleventh-page-fs23" style="width: 100%; padding-top: 5px; ">
          You have ability to understand nature, plants, animals, environment etc. You can effectively identify, 
          observe, categorize, and understand their distinguishing features. This intelligence can help you to 
          use elements and patterns in the natural world to create products or solve problems.
       </div>
      </div>
    </div>

    <div class="eleventh-page-first-box" >
      <img class="width-100" src="assets/images/Page 10/PAGE-11-img1.jpg">
    </div>
    <div class="clear-both"></div>
    <div class="eleventh-page-row" style="padding-top: 2px; padding-right: 10px;">
      You will enjoy all the jobs which requires- relating, discovering, uncovering, observing, digging 
      (literally and metaphorically), collecting, sorting, comparing and displaying. You may be interested in careers dealing with nature such as astronomer, meteorologist, palaeontologist, geologist, ecologist, environmentalist, biologist, animal trainer, zookeeper, veterinarian, botanist, forest ranger, gardener, farmer, landscaper, nature photographer. If not nature related, 
      you may opt for editor, auditor, legal, nutritionist, chef, travel guide etc.
    </div>
  </div>
  <div class="eleventh-page-row mt-20 text-center" style="color: #00a9c2;">
    <strong>THE SUBJECTS OF YOUR INTEREST</strong>
  </div>

  <div class="eleventh-page-subof">
    <div>
      <ul class="eleventh-page-listsub">
        <li>Planting/ Farming</li>
        <li>Gardening/ Horticulture</li>
        <li>Plant Nursery</li>
        <li>Rain Water Harvesting</li>
        <li>Singing/ Rapping/ Yodelling</li>
        <li>Meditation</li>
        <li>Tour Guiding</li>
        <li>Cooking/ Catering</li>
        <li>Nature Photography</li>
        <li>Swimming</li>
        <li>Fishing</li>
        <li>Ice Cream Making</li>
        <li>Fishing</li>
        <li>Editing Videos/ Text/ Music</li>
        <li>Making Aquarium</li>
        <li>Scuba Diving</li>
        <li>Perfume Making </li>
        <li>Food Tasting</li>
        <div class="clear-both"></div>
      </ul>
      </div>
    <div class="clear-both"></div>
  </div>
</div>