<div class="fifthteenth-page mt-40">
    <div class="">
        <div class="text-right">
            <img class="logo-img" src="assets/images/Header.png" />
        </div>
        <div class="mt-20">
            <div class="sixteenth-page-hd1">
                <div class="sixteenth-page-headingsec" style="width: 90%;">
                    <strong>CAREER PROSPECTS FOR THE STREAM OF MATHEMATICAL SCIENCE (PCM)</strong>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
        <div class="mt-5 sixteenth-page-fsize">
            <div class="sixteenth-page-careeroption">
                CAREER OPTIONS
            </div>
            <div class="sixteenth-page-careeroption1">
                %
            </div>
            <div class="sixteenth-page-careeroption">
                CAREER OPTIONS
            </div>
            <div class="sixteenth-page-careeroption1">
                %
            </div>
            <div class="sixteenth-page-careeroption">
                CAREER OPTIONS
            </div>
            <div class="sixteenth-page-careeroption1" style="border-right: none;">
                %
            </div>
            <div class="clear-both"></div>
        </div>
        <div class="mt-5">
            <div class="sectioncareer">
                <div class="seventeen-page-careerwidth32">
                    <div>
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerhuman">
                                <div>CHEMICAL ENGINEERING</div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc1">
                            <div>10%</div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>BIOMOLECULAR ENGG<br>
                                    <span style="font-size: 8px;">Genetic, DNA and RNA<br>
                                        (Genetic) Immunology - biomolecular or biochemical
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>MATERIALS ENGINEERING<br>
                                    <span style="font-size: 8px;">Metallurgical, Ceramic, Polymer, <br>
                                        Crystal - Biomaterials
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>MOLECULAR ENGINEERING<br>
                                    <span style="font-size: 8px;">Study of Molecular Properties
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>PROCESS ENGINEERING<br>
                                    <span style="font-size: 8px;">Petroleum refinery, Plastics,
                                        <br> Paper, Textile
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>CORROSION ENGINEERING<br>
                                    <span style="font-size: 8px;">Design & Implementation of Materials,<br>
                                        Structures, Devices, Systems & <br>Procedures to manage Corrosion_
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79" >
                            <div class="sixteenth-page-careerbio1" style="padding: 10px 5px;">
                                <div>CIVIL ENGINEERING
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc1">
                            <div>10%</div>
                        </div>
                         <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ENVIRONMENTAL ENGG<br>
                                    <span style="font-size: 8px;">Ecological, Fire protection, Sanitary,
                                        <br>Wastewater, Municipal or urban
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>GEOTECHNICAL ENGG<br>
                                    <span style="font-size: 8px;">Mining, Foundation, Rock Support System
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>STRUCTURAL ENGINEERING<br>
                                    <span style="font-size: 8px;">Earthquake, Wind, Architectural, Ocean
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>MINING ENGINEERING<br>
                                    <span style="font-size: 8px;">Extraction of Minerals & Materials
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>TRANSPORT ENGINEERING<br>
                                    <span style="font-size: 8px;">Traffic, Highway, Railway systems
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>UTILITY ENGINEERING<br>
                                    <span style="font-size: 8px;">Subsurface Utility (SUE)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>WATER RESOURCES <br>ENGINEERING<br>
                                    <span style="font-size: 8px;">Hydraulic, River, Coastal, Groundwater
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio1">
                                <div>MECHANICAL <br>ENGINEERING

                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc1">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ACOUSTICAL ENGINEERING<br>
                                    <span style="font-size: 8px;">Ecological, Fire protection, Sanitary,
                                        <br>Wastewater, Municipal or urban
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ENERGY ENGINEERING<br>
                                    <span style="font-size: 8px;">Energy Efficiency & Services
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>MANUFACTURING <br>ENGINEERING<br>
                                    <span style="font-size: 8px;">Machine, Tools, Material- science,
                                        <br>Tribology & Quality Control
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>THERMAL ENGINEERING<br>
                                    <span style="font-size: 8px;">Air conditioning, Refrigeration, <br>Heating,
                                        Ventilating
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>VEHICLE ENGINEERING<br>
                                    <span style="font-size: 8px;">Automotive, Naval architecture,
                                        <br>Aerospace, Marine/Oceanographic
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>POWER PLANT ENGINEERING <br>
                                    <span style="font-size: 8px;">Geothermal, Coal-fired,
                                        Hydroelectric, <br>Diesel engine (ICE), Tidal power,
                                        Wind <br>turbine power, Solar power
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>

                <div class="seventeen-page-careerwidth32">
                    <div>
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio1">
                                <div>ELECTRICAL & ELECTRONIC ENGINEERING</div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc1">
                            <div>10%</div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ELECTRONIC & COMMUNICATION ENGG<br>
                                    <span style="font-size: 8px;">Control, Telecommunications, Digital <br>Electronic
                                        Systems, Electronic <br>Devices & Software applications</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>COMPUTER ENGINEERING<br>
                                    <span style="font-size: 8px;">Hardware, Network, Software</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>POWER ENGINEERING<br>
                                    <span style="font-size: 8px;">Power System Planning, Power <br>System Design, 
                                        Power System <br>Operations & Control, Protection & <br>Control, High Voltage</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>OPTICAL ENGINEERING<br>
                                    <span style="font-size: 8px;">Lenses, microscope, stathisscope,etc</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio1" style="padding: 10px 5px;">
                                <div>INTERDISCIPLINARY
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc1">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>AEROSPACE ENGINEERING<br>
                                    <span style="font-size: 8px;">Aeronautics, Astronautics</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>AGRICULTURAL ENGG<br>
                                    <span style="font-size: 8px;">Aquaculture, Biomechanical, Bioprocess <br>Biotechnical, 
                                        Ecological, Food, Forest, <br>Health & safety, Natural<br>
                                        resources, Machinery systems,<br>
                                        Information & electrical systems
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>APPLIED ENGINEERING<br>
                                    <span style="font-size: 8px;">Automation/control systems/ <br>mechatronics/robotics, 
                                        CADD, <br>Construction, Electronics, General, <br>Graphics, Nanotechnology</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>BIOMEDICAL ENGINEERING<br>
                                    <span style="font-size: 8px;">Bioinstrumentation, Bioinformatics, <br>Biomechanics, 
                                        Biomaterial, Biomedical <br>optics, Biosignal processing, Tissue, <br>Biotechnology, 
                                        Clinical, Medical- imaging <br>Neural, Pharmaceutical, Rehabilitation</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>BIOLOGICAL ENGINEERING<br>
                                    <span style="font-size: 8px;">Bioacoustics, Biochemical, Biosystems, <br>Biotechnical,
                                         Biomolecular, Bioresource, <br>Bioprocess, Cellular, Genetic, 
                                         Food & <br>Biological- process, Health and safety, <br>Microbiological, Molecular, Protein, <br>
                                         Systems biology, Synthetic biology</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>NUCLEAR ENGINEERING<br>
                                    <span style="font-size: 8px;">Medical physics, Nuclear fuel, <br>Radiation protection</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>PROJECT ENGINEERING<br>
                                    <span style="font-size: 8px;">Mechanical, Process, <br>Instrumentation & control, Civil, <br>Structural,
                                        Environmental, Electrical
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>INFORMATION ENGINEERING
                                    <br>
                                    <span style="font-size: 8px;">Machine learning, Data science, <br>
                                        Artificial intelligence, Control theory, Signal processing, Telecommunications,<br> 
                                        Image processing, Information theory, <br>Computer vision, Natural language <br>processing, 
                                        Bioinformatics, Medical <br>image computing, Autonomous robotics, <br>Mobile robotics
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
                <div class="seventeen-page-careerwidth32">
                    <div>
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>INDUSTRIAL ENGINEERING<br>
                                    <span style="font-size: 8px;">Manufacturing, Component, Systems,
                                        <br>Construction, Safety, Reliability</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>MECHATRONICS ENGG<br>
                                    <span style="font-size: 8px;">Robotics, Instrumentation, Avionics,<br>
                                        Opt-mechatronics, Bio-mechatronics</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>NANO ENGINEERING<br>
                                    <span style="font-size: 8px;">Materials, Biomedical,
                                        <br>Instrumentation, Electronic</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>MILITARY ENGINEERING<br>
                                    <span style="font-size: 8px;">Combat, Logistics, Design 
                                        <br>& Communication.</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>PETROLEUM ENGINEERING<br>
                                    <span style="font-size: 8px;">Reservoir, Drilling, Production</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>RAILWAY ENGINEERING<br>
                                    <span style="font-size: 8px;">Design, Construction & Operation.</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>SOFTWARE ENGINEERING<br>
                                    <span style="font-size: 8px;">Information technology (IT), 
                                        <br>Cryptographic, Tele-traffic, Web</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79" >
                            <div class="sixteenth-page-careerbio1" >
                                <div>BUILDING SERVICES <br>ENGINEERING<br>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc1">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio" >
                                <div>MECHANICAL <span style="font-size: 8px;">- Heating, ventilation</span>
                                    <span style="font-size: 8px;"> <br>& air 
                                        conditioning, Refrigeration</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>PUBLIC HEALTH <span style="font-size: 8px;">- Water services,</span>
                                    <span style="font-size: 8px;"> Drainage 
                                        & Plumbing, Building Facade</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ELECTRICAL <span style="font-size: 8px;">- Lighting</span>
                                    <span style="font-size: 8px;">
                                        (Artificial & emergency lighting, low voltage <br>systems, containment, 
                                        distribution, <br>distribution boards & switchgear)<br>
                                        Lightning protection, Security, video and <br>alarm systems, Escalators & lifts
                                        </span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="clear-both"></div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>FIRE ENGINEERING <span style="font-size: 8px;">- Fire </span>
                                    <span style="font-size: 8px;">detection and fire protection</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ENERGY SUPPLY <span style="font-size: 8px;">- Gas,</span>
                                    <span style="font-size: 8px;"> electricity & renewable sources</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio1" style="padding: 10px 5px;">
                                <div>NON-ENGINEERING<br>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc1">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ARCHITECTURE<br>
                                    <span style="font-size: 8px;">Design Buildings & Physical Structures</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ANIMATION & MULTIMEDIA<br>
                                    <span style="font-size: 8px;">Graphics & Sound in Advertisement,<br> Movies etc_</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>ETHICAL HACKING<br>
                                    <span style="font-size: 8px;">Authorised Identifiers of Data, Breaches 
                                        <br>& Threats</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>PHYSICS<br>
                                    <span style="font-size: 8px;">Scientist- Specialized Physicist</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>CHEMISTRY<br>
                                    <span style="font-size: 8px;">Scientist-Specialized in particular subject</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>MATHEMATICS<br>
                                    <span style="font-size: 8px;">Specialized Mathematician.</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>FORENSIC SCIENCE<br>
                                    <span style="font-size: 8px;">Collect, Analyse & Record crime 
                                        <br>evidences</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>PHARMACY<br>
                                    <span style="font-size: 8px;">Chemist/ Druggist- Usage & 
                                        <br>Effect of drugs</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="mt-5">
                        <div class="seventeen-page-width79">
                            <div class="sixteenth-page-careerbio">
                                <div>DEFENCE<br>
                                    <span style="font-size: 8px;">Army, Navy or Airforce</span>
                                </div>
                            </div>
                        </div>
                        <div class="sixteenth-page-careerhumanperc">
                            <div>10%</div>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>


            </div>

            <div class="clear-both"></div>
        </div>




    </div>
</div>