.fifthteenth-page{font-family: Arial, Helvetica, sans-serif; font-size: 11px;}
.sixteenth-page-headingsec{float: left; padding: 6px 5px; color: #ffffff; text-align: center; width: 100%; font-size: 16px; font-weight: 900;}
.sixteenth-page-fsize{font-size: 16px;}
.mt-5{margin-top: 5px;}
.seventeen-page-careerwidth32{ margin-right: 5px; flex: 1;}
.seventeen-page-width79{ border-right: 5px solid white; flex: 7.5;}
.sixteenth-page-hd1 {  background-color: #1d2f81 }
.sixteenth-page-careeroption{
    background-color: #959492;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    /* float: left; */
    /* width: 25.75%; */
    padding: 5px 10px;
    border-right: 5px solid white;
    color: #ffffff;
    flex: 7;
}
.sixteenth-page-careeroption1{
    background-color: #959492;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    /* float: left; */
    /* width: 6%; */
    padding: 5px 10px;
    border-right: 5px solid white;
    color: #ffffff;
    flex: 1;
}
.sixteenth-page-careerhuman{
    background-color: #73c4f1;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding: 10px 5px;
    color: #ffffff;
}
.sixteenth-page-careerhumanperc{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    /* width: 18%;
    float: left; */
    flex: 1.65;
}
.sixteenth-page-careerhumanperc1{
    background-color: #73c4f1;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    color: #ffffff;
    /* display: flex;
    flex-direction: column;
    width: 18%;
    float: left; */
    flex: 1.65;
}
.sixteenth-page-careerbio{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding: 5px;
    color: black; 
    padding-right: 10px;
}
.sixteenth-page-careerbio span{
    font-weight: normal;
    text-transform: capitalize;
    display: block;
}
.sixteenth-page-careerbio1{
    background-color: #73c4f1;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding: 3px 5px;
    color: #ffffff; 
}
.sixteenth-page-careerbhms{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    float: left;
    width: 25.75%;
    padding: 2px 0px;
    border-right: 4px solid white;
    color: black;    
}
.sixteenth-page-careerplant{
    background-color: #a198c5;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    float: left;
    width: 25.75%;
    padding: 10px 0px;
    border-right: 4px solid white;
    color: black; 
}
.sixteenth-page-careerbams{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    float: left;
    width: 25.75%;
    padding: 2px 0px;
    border-right: 4px solid white;
    color: black;    
}
.sixteenth-page-careergastroperc{
    background-color: #e7e7e7;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
   width: 6%;
    padding: 10px 2px;
    color: black;
}
.sixteenth-page-careerplant1{
    background-color: #a198c5;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 6%;
    padding: 10px 0px;
    border-right: 4px solid white;
    color: black;
}
.sixteenth-page-pdlft5{
    padding-left: 5px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.line-height-15 { line-height: 15px; }
.line-height-15 span { line-height: 12px; }


